.edit-blog {
  padding: 1.5rem;
  border: solid 1px $color-white;
  border-radius: 3px;
  margin: 4rem 0;

  &__form {
    label {
      color: $color-white;
      margin: 0.5rem 0;
    }
    input {
      background-color: $color-white;
      border: rgba($color: $color-primary-dark, $alpha: 0.4) 1px solid;
      border-radius: 3px;
      padding: 1rem;
      text-align: left;
      height: 4rem;
      width: 100%;
    }
  }

  &__preview {
    &-title {
      margin: 2rem 0;
      font-size: 3rem;
      color: $color-white;
      font-weight: 700;
    }
  }

  &__actions {
    .button {
      cursor: pointer;
      border-radius: 3px;
      padding: 1rem;
      text-align: center;
      height: 4rem;
      width: 100%;
      max-width: 300px;
      color: $color-white;
      transition: all 0.1s linear;
      &:hover {
        transform: translateY(-4px);
      }

      &-update {
        border: rgba($color: $color-primary, $alpha: 0.4) 1px solid;
        background-color: rgba($color: $color-primary-light, $alpha: 0.3);
      }
      &-delete {
        border: rgba($color: $color-secondary-dark, $alpha: 0.4) 1px solid;
        background-color: rgba($color: $color-secondary-light, $alpha: 0.3);
      }
    }
  }
}
