@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes moveInLeft-message {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(21deg);
  }

  80% {
    transform: translateX(10px) skewX(21deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) skewX(21deg);
    animation-fill-mode: forwards, backwards;
  }
}
