// COLORS
$color-primary: #67a2ef;
$color-primary-light: #5643fa;
$color-primary-dark: #1b199b;

$color-secondary-light: #d11414;
$color-secondary-dark: #8f2121;

$color-tertiary-dark: #55c57a;
$color-tertiary-light: #7ed56f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

//FONT SIZES
$default-font-size: 1.6rem;
