/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
0-600:          Phone
> - 900:        Tablet Portrait
> - 1200:       Tablet Landscape
[1200 - 1800]:  Normal Styles
1800+:          Big Desktops
*/
/* 
$breakpoint arguments:
phone, tab-port, tab-land, big-desktop
*/
@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInLeft-message {
  0% {
    opacity: 0;
    transform: translateX(-100px) skewX(14deg); }
  80% {
    transform: translateX(10px) skewX(14deg); }
  100% {
    opacity: 1;
    transform: translateX(0) skewX(14deg);
    animation-fill-mode: forwards, backwards; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: black; }

a {
  text-decoration: none; }

::selection {
  background-color: #1b199b;
  color: #fff; }

.heading-primary {
  text-align: center;
  color: #fff;
  font-size: 7rem;
  margin: 0 2rem;
  font-family: 'Permanent Marker';
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  text-shadow: 0px 10px 33px #67a2ef, 0px -10px 33px #d11414; }
  @media only screen and (max-width: 768px) {
    .heading-primary {
      font-size: 4rem; } }

.footer {
  width: 100%; }
  .footer__content__social-icon:link, .footer__content__social-icon:visited {
    margin: 0 1.5rem;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 3rem;
    text-decoration: none; }
  .footer__content__social-icon:hover, .footer__content__social-icon:active {
    color: #67a2ef; }
  .footer__content__copyright {
    color: #fff;
    font-size: 2rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  text-align: center;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 640px) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#67a2ef, #1b199b);
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 768px) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 640px) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  min-width: 40%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.2s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #67a2ef;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #999;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.warp {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0; }

.info-card {
  opacity: 0;
  transform: skewX(14deg);
  font-size: 2rem;
  padding: 4rem;
  margin-top: 4rem;
  text-align: center;
  max-width: 70%;
  color: #000;
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 0.2s ease;
  box-shadow: 0 0.5rem 1rem white;
  animation-fill-mode: forwards;
  animation-name: moveInLeft-message;
  animation-delay: 0.3s;
  animation-duration: 1.1s;
  animation-timing-function: ease; }
  .info-card:hover {
    box-shadow: 0 0.5rem 1rem #67a2ef; }
  @media only screen and (max-width: 768px) {
    .info-card {
      font-size: 1.2rem; } }
  .info-card > * {
    transform: skewX(-14deg); }

.certification {
  min-height: 95vh; }
  .certification__content-certificates .certificate {
    background-image: linear-gradient(to right bottom, #67a2ef, #5643fa);
    max-width: 777px;
    color: #000;
    transition: all 0.2s ease-in-out; }
    .certification__content-certificates .certificate__img {
      width: 100%; }
    .certification__content-certificates .certificate__content {
      max-height: 80%;
      background-image: linear-gradient(to right bottom, #fff, #999); }
      .certification__content-certificates .certificate__content-title {
        line-height: 1;
        font-size: 2rem;
        margin-bottom: 0.3rem;
        color: #67a2ef;
        font-weight: 300; }
      .certification__content-certificates .certificate__content-subtitle {
        font-weight: 500;
        font-size: 1.2rem;
        color: #777;
        margin: 0.5rem 0; }
      .certification__content-certificates .certificate__content-body {
        margin: 1rem 0;
        border-left: 2px solid #67a2ef;
        padding-left: 0.5rem; }
      .certification__content-certificates .certificate__content-link {
        color: #1b199b; }
    .certification__content-certificates .certificate:hover {
      transform: translateY(-7px) scale(1.025);
      box-shadow: 0 0.5rem 1rem #67a2ef; }

.projects {
  min-height: 95vh; }
  .projects__content-projects .project-card {
    position: relative;
    max-width: 500px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    top: 0;
    left: 0;
    color: #000;
    transition: all 0.3s;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden; }
    .projects__content-projects .project-card__side {
      font-size: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      height: auto;
      position: relative;
      box-shadow: none; }
      .projects__content-projects .project-card__side--front {
        background-color: #fff; }
      .projects__content-projects .project-card__side--back {
        background-image: linear-gradient(to right bottom, #5643fa, #1b199b);
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%); }
    .projects__content-projects .project-card__tech svg {
      font-size: 3rem;
      margin: 0 1.5rem;
      color: #777; }
    .projects__content-projects .project-card__top {
      height: 10rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      background-image: linear-gradient(to right bottom, #5643fa, #67a2ef); }
    .projects__content-projects .project-card__heading {
      font-size: 2.8rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 2rem;
      right: 2rem;
      text-align: right;
      width: 75%; }
      .projects__content-projects .project-card__heading--span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.85), rgba(27, 25, 155, 0.85)); }
    .projects__content-projects .project-card__details {
      padding: 7rem;
      margin: 0 auto;
      max-width: 88%; }
    .projects__content-projects .project-card__bottom {
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 4rem 2rem 2rem 2rem;
      transition: all 0.3s ease-in-out; }
      .projects__content-projects .project-card__bottom:hover {
        font-weight: 700;
        color: #fff;
        background-image: linear-gradient(to right, #5643fa, #67a2ef); }
    .projects__content-projects .project-card:hover {
      transform: translateY(-1rem);
      box-shadow: 0 1.5rem 2rem 1rem white; }

.header {
  min-height: 95vh;
  position: relative; }
  .header__content {
    min-height: 85vh;
    padding: 3rem;
    z-index: 3;
    color: #fff; }
  .header .messages {
    padding: 1rem;
    width: 50%; }
    @media only screen and (max-width: 1024px) {
      .header .messages {
        width: 80%; } }
    .header .messages__single {
      opacity: 0;
      transform: skewX(21deg);
      font-size: 3rem;
      padding: 1.5rem;
      margin: 2rem;
      text-align: center;
      width: 100%;
      color: #000;
      background-color: rgba(255, 255, 255, 0.85);
      transition: all 0.2s ease;
      box-shadow: 0 0.5rem 1rem white;
      animation-fill-mode: forwards; }
      @media only screen and (max-width: 768px) {
        .header .messages__single {
          font-size: 2rem; } }
      .header .messages__single > * {
        transform: skewX(-21deg); }
      .header .messages__single:nth-child(1) {
        animation-name: moveInLeft-message;
        animation-delay: 0.3s;
        animation-duration: 1.1s;
        animation-timing-function: ease; }
      .header .messages__single:nth-child(2) {
        animation-name: moveInLeft-message;
        animation-delay: 0.6s;
        animation-duration: 1.1s;
        animation-timing-function: ease; }
      .header .messages__single:nth-child(3) {
        animation-name: moveInLeft-message;
        animation-delay: 0.9s;
        animation-duration: 1.1s;
        animation-timing-function: ease; }
      .header .messages__single:nth-child(4) {
        animation-name: moveInLeft-message;
        animation-delay: 1.2s;
        animation-duration: 1.1s;
        animation-timing-function: ease; }
      .header .messages__single:hover {
        transform: skewX(21deg);
        box-shadow: 0 0.5rem 1rem #67a2ef; }
